body {
  font-family: arial;
}

.blueBorder {
  border: 3px solid blue;
}

.redText {
  color: red;
}

.grayText {
  color: gray;
}

.bigImage {
  width: 500px;
}

.row {
  width: 700px;
}

.column {
  float: left;
  width: 33.33%;
  height: 150px;
}

.fixedHeight{
  height: 100px;
}