/* GLOBAL */
:root {
  --gray: #676767;
  --lightgray: lightgray;
  --gold: goldenrod;
  --white: #fff;
  --black: #000000;
}

body {
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
  color: var(--gray);
}

.d-block {
  display: block;
}

section {
  display: grid;
  justify-content: center;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-width: 15%;
  display: flex;
  /* flex-wrap: wrap; */
  width: 75vw;
  height: 15vh;
  background-color: var(--gray);
  color: var(--lightgray);
}

main {
  width: 75vw;
  height: 83vh;
  display: flex;
  background-color: var(--lightgray);
}

article {
  display: flex;
  min-width: 15%;
  max-width: 80%;
}

footer {
  display: flex;
  width: 75vw;
  height: 2vh;
  background-color: var(--gray);
  color: var(--lightgray);
}

/* HEADER */
header div.logo {
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 15%;
}
header div.title {
  align-items: center;
  font-size: 1.5em;
}

/* MAIN */
main div.navlist {
  justify-content: center;
  min-width: 15%;
}
main div.navlist ul li {
  display: block;
  padding: 2px;
}
main div.navlist ul li a {
  color: var(--gray);
}
main div.content h2 {
  color: var(--gold);
}
main article.content {
  display: block;
}
main article.content h2 {
  color: var(--gold);
}

/* FOOTER */
footer span {
  color: var(--lightgray);
}
footer div.right {
  margin-left: auto;
}

/* INDEX.HTML */

/* MUSEUMINFO.HTML*/
table {
  border: 1px solid var(--black);
}
table th {
  text-align: center;
}
table td,
th,
tr {
  border: 1px solid var(--black);
  text-align: left;
  padding: 8px;
}
table tr th:nth-child(odd) {
  background-color: var(--gold);
}
table tr td:nth-child(even) {
  background-color: var(--white);
}

/* MUSEUMS.HTML */
main div.content hr {
  height: 2px;
  background-color: #000;
}
main div.content .container {
  display: flex;
  flex-wrap: wrap;
}
main div.content .container .column {
  width: 20vw;
}
main div.content .container .column .fixedHeight {
  height: 100px;
}






.formDiv {
  width: 100%;
  max-width: 80%;
}
form .halfLenght {
  width: 50% !important;
  float: left;
}
form .form-control {
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}